$base-font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
$color-master: #626262;
$color-white: #fff;
$color-black: #000;
$color-master-light: mix($color-master, #fff, 16%);
$color-master-lighter: mix($color-master, #fff, 9.5%);
$color-master-lightest: mix($color-master, #fff, 3%);

// Darker Grey colors
$color-master-dark: mix($color-master, #000, 45%);
$color-master-darker: mix($color-master, #000, 27%);
$color-master-darkest: mix($color-master, #000, 18%);

$Menpadding-base-horizontal: 10px;

$color-success: #10cfbd;
$color-complete: #48b0f7;
$color-whats: #71b850;
$color-primary: #6d5cae;
$color-warning: #f8d053;
$color-danger: #f55753;
$color-info: #3b4752;

//Mixing Color varriable for creating both light and dark colors
$mix-percentage-dark: 81%;
$mix-percentage-darker: 60%;
$mix-percentage-light: 80%;
$mix-percentage-lighter: 20%;

//Lighter colors
$color-success-light: mix($color-success, $color-white, $mix-percentage-light);
$color-success-lighter: mix(
    $color-success,
    $color-white,
    $mix-percentage-lighter
);

$color-complete-light: mix(
    $color-complete,
    $color-white,
    $mix-percentage-light
);
$color-complete-lighter: mix(
    $color-complete,
    $color-white,
    $mix-percentage-lighter
);

$color-primary-light: mix($color-primary, $color-white, $mix-percentage-light);
$color-primary-lighter: mix(
    $color-primary,
    $color-white,
    $mix-percentage-lighter
);

$color-warning-light: mix($color-warning, $color-white, $mix-percentage-light);
$color-warning-lighter: mix(
    $color-warning,
    $color-white,
    $mix-percentage-lighter
);

$color-danger-light: mix($color-danger, $color-white, $mix-percentage-light);
$color-danger-lighter: mix(
    $color-danger,
    $color-white,
    $mix-percentage-lighter
);

$color-info-light: mix($color-info, $color-white, $mix-percentage-light);
$color-info-lighter: mix($color-info, $color-white, $mix-percentage-lighter);

//Darker colors
$color-success-dark: mix($color-success, $color-black, $mix-percentage-dark);
$color-success-darker: mix(
    $color-success,
    $color-black,
    $mix-percentage-darker
);

$color-complete-dark: mix($color-complete, $color-black, $mix-percentage-dark);
$color-complete-darker: mix(
    $color-complete,
    $color-black,
    $mix-percentage-darker
);

$color-primary-dark: mix($color-primary, $color-black, $mix-percentage-dark);
$color-primary-darker: mix(
    $color-primary,
    $color-black,
    $mix-percentage-darker
);

$color-warning-dark: mix($color-warning, $color-black, $mix-percentage-dark);
$color-warning-darker: mix(
    $color-warning,
    $color-black,
    $mix-percentage-darker
);

$color-danger-dark: mix($color-danger, $color-black, $mix-percentage-dark);
$color-danger-darker: mix($color-danger, $color-black, $mix-percentage-darker);

$color-info-dark: mix($color-info, $color-black, $mix-percentage-dark);
$color-info-darker: mix($color-info, $color-black, $mix-percentage-darker);

$padding-lg-horizontal: 14px;

.btn {
    font-size: 14px;
    letter-spacing: 0.01em;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    margin-bottom: 0;
    //border: 1px solid mix(#626262, #fff, 9.5%);
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 3px;
    background-image: none !important;
    color: #fff;
    background-color: #2d4f4e;
    text-shadow: none;
    box-shadow: none;
    line-height: initial;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    transition: linear;
    white-space: nowrap;

    &:hover {
        transition: ease-in 0.1s;
        background-color: #3a860f;
    }

    &.active {
        border-color: $color-master-light;
        background: #fff;
    }

    &:focus,
    &:active:focus,
    &.active:focus {
        outline: none !important;
    }

    .caret {
        margin-left: 3px;

        &.single {
            margin-left: 0px;
        }
    }

    &:hover,
    &:focus,
    &:active,
    &.active,
    &.disabled,
    &[disabled] {
        box-shadow: none;
    }

    &.disabled,
    &[disabled] {
        opacity: 0.3;
    }
}

.btn.readonly,
.btn[readonly] {
    pointer-events: none;
}
