.customSelect {
    width: 100%;
    padding: 0;
    margin: 0;
    min-height: 28px;
    display: contents;

    .react-select__control {
        display: contents;
        border-style: none;
        padding: 0;
        margin: 0;
    }

    .react-select__control--menu-is-open {
        border: none;
        outline: none;
        box-shadow: none;
    }

    .react-select__control--is-focused {
        border: none;
        outline: none;
        box-shadow: none;
    }
}
