.menuBarItem {
    max-height: 50px;
    max-width: 100%;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    cursor: pointer;

    .menuItem {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 250px;

        .menuIconContainer {
            height: 100%;
            width: 50px;
            display: flex;
            justify-content: center;
            align-items: center;

            .menuIcon {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #464f61;
                width: 80%;
                height: 80%;
                border-radius: 7% 0 0 7%;
                cursor: pointer;
                transition: all 200ms;

                i {
                    font-size: 20px;
                    color: #ffffff;
                }
            }
        }
        .menuItemDetails {
            height: 80%;
            width: 200px;
            background-color: #464f61;
            display: flex;

            .menuDetails {
                display: flex;
                width: 85%;
                justify-content: flex-start;
                align-items: center;

                .menuText {
                    max-width: 200px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    color: white;
                }
            }

            .menuExpander {
                display: flex;
                width: 15%;
                align-items: center;
                justify-content: center;
            }
            
            .menuExpanderHide {
                display: none;
            }
        }
    }

    &:hover {
        .menuItem {
            .menuIconContainer {
                .menuIcon {
                    i {
                        font-size: 23px;
                        transition: all 200ms;
                    }
                }
            }
        }
    }

    //.fa-layer {
    //    position: relative;
    //    display: inline-block;
    //    width: 1em;
    //    height: 1em;
    //
    //    i {
    //        font-size: 1em;
    //    }
    //
    //    // Ícone menor que será colocado por cima
    //    &::after {
    //        content: "";
    //        position: absolute;
    //        font-family: "Font Awesome 6 Free";
    //        //font-weight: 900; // solid
    //        bottom: -0.15em;
    //        right: -0.15em;
    //        background: #fff;
    //        border-radius: 50%;
    //        font-size: 0.45em;
    //        padding: 0.15em;
    //        line-height: 1;
    //    }
    //
    //    // Modificador: ícone de adicionar (+)
    //    &--add::after {
    //        content: "\f067"; // unicode do ícone fa-plus
    //    }
    //
    //    // Modificador: editar (lápis)
    //    &--edit::after {
    //        content: "\f304"; // fa-pen
    //    }
    //
    //    // Modificador: deletar (lixeira)
    //    &--delete::after {
    //        content: "\f2ed"; // fa-trash
    //    }
    //}
}
