.sideBar {
    width: 50px;
    background-color: #2b303b;
    height: 100%;
    position: fixed;
    transition: all 0.4s;
    z-index: 100;
}

.open {
    width: 250px;
    transition: all 0.4s;
    z-index: 100;
}

.sideBarHeader {
    background-color: #464f61;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transition: all 0.4s;
    position: absolute;
}

.sideBarFooter {
    @extend .sideBarHeader;
    cursor: pointer;
    bottom: 0;
}

.list {
    width: 50px;
    height: 100%;
    transition: all 0.4s;
}

.listOpen {
    width: 250px;
    transition: all 0.4s;
}

.testeCoisa {
    height: calc(100% - 110px);
    overflow: auto; /* mantém o scroll */

    /* Firefox */
    scrollbar-width: none;

    /* Chrome, Edge e Safari */
    -ms-overflow-style: none; /* IE e Edge antigo */
}
